*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
*.log
.navigation
/outputs

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Do not commit local SDK path
local.properties
